/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container {
    padding: 10px;
    margin-top: -275px;
    position: relative;
    background-color: white;
    border: 2px solid #d2d4d6;
    border-radius: 10px;
}

.container-fluid {
    padding-left: 0 !important;
}

.navbar-brand {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav {
    background-color: #031f38;
    padding: 0 !important;
}

.img-bg-top {
    margin: auto;
    max-width: none;
    position: relative;
    display: flex;
}

.deleteButton{
    font-size: 24px;
    width: 32px;
    display: flex;
    padding: 3px;
}

.deleteIcon{
    padding-left: 3px;
}

.editButton {
    margin-right: 8px;
    font-size: 24px;
    width: 32px;
    display: flex;
    padding: 3px;
}

.editIcon {
    padding-left: 3px;
}

.editButton:hover{
    color: white;
}

.errorMsg {
    color: red;
}

.timepicker {
    width: 207px;
}